06-XML-Schema/exercise/auktion-haus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.aspect1.ch/haus" 
	elementFormDefault="qualified">

	<xs:element name="schloss">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="land" type="xs:string"/>
				<xs:element name="epoche" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
