06-XML-Schema/solution/person-noNamespace.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vorname"  type="xs:string" minOccurs="0" />
				<xs:element name="nachname" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
