06-XML-Schema/solution/person-namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"  
	targetNamespace="http://www.aspect1.ch/myNamespace"
	elementFormDefault="qualified" >
	
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vorname" type="xs:string"/>
				<xs:element name="nachname" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
