06-XML-Schema/solution/seminar-xmlspy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- 
		Generierter Vorschlag vom XML Spy anhand der XML Datei.
		
		Die generierte Variante hat noch Punkte die korrigiert werden
		müssen (zeitplan, etc). Es zeigt aber gut die verschiedenen
		Möglichkeiten zur Strukturierung der Elemente.
	-->

	<xs:element name="seminar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ziel" />
				<xs:element ref="datum" />
				<xs:element ref="zeitplan" />
				<xs:element ref="kursleiter" />
				<xs:element ref="teilnehmer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ziel" type="xs:string" />

	<xs:element name="datum">
		<xs:complexType>
			<xs:attribute name="von" use="required" type="xs:date" />
			<xs:attribute name="bis" use="required" type="xs:date" />
		</xs:complexType>
	</xs:element>

	<xs:element name="zeitplan">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lektion" />
				<xs:element ref="pause" />
				<xs:element ref="lektion" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teilnehmer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="vorname" type="xs:string" />
	<xs:element name="thema" type="xs:string" />
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vorname" />
				<xs:element ref="nachname" />
			</xs:sequence>
			<xs:attribute name="anrede" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Frau" />
						<xs:enumeration value="Herr" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pause">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="von" use="required"
						type="xs:time" />
					<xs:attribute name="bis" use="required"
						type="xs:time" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nachname" type="xs:string" />
	<xs:element name="lektion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="thema" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="von" use="required" type="xs:time" />
			<xs:attribute name="bis" use="required" type="xs:time" />
		</xs:complexType>
	</xs:element>
	<xs:element name="kursleiter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
